@{
    ViewData["Title"] = "Bmerketo";
}

<!-- showcase -->
<section class="showcase">
    <div class="container">
        <div class="column-1">
            <div class="content">
                <div class="title-2">WELLCOME TO BMERKETO SHOP</div>
                <div class="title-1">Exclusive Chair </div>
                <div class="title-3">gold Collection.</div>
                <a class="btn-theme" href="#">SHOP NOW</a>
            </div>
        </div>
        <div class="column-2">
            <img src="~/images/Small.jpg" alt="showcase image">
        </div>
    </div>
</section>


<!-- featured products -->
<section class="featured-products">
    <div class="container">
        <div class="title">Best Collection</div>
        <div class="product-grid">
            <div class="product-card">
                <div class="product-card-img">
                    <img src="~/images/Small.jpg" alt="">
                    <div class="product-card-menu">
                        <a href="#" class="btn-theme">QUICK VIEW</a>
                    </div>


                </div>
                <div class="product-card-body">
                    <p class="product-card-category">Category</p>
                    <p class="product-card-title">Item</p>
                    <p class="product-card-price">$15.00</p>
                </div>
            </div>

            <div class="product-card">
                <div class="product-card-img">
                    <img src="~/images/Small.jpg" alt="">
                    <div class="product-card-menu">

                        <a href="#" class="btn-theme">QUICK VIEW</a>
                    </div>


                </div>
                <div class="product-card-body">
                    <p class="product-card-category">Category</p>
                    <p class="product-card-title">Item</p>
                    <p class="product-card-price">$15.00</p>
                </div>
            </div>

            <div class="product-card">
                <div class="product-card-img">
                    <img src="~/images/Small.jpg" alt="">
                    <div class="product-card-menu">
                        <a href="#" class="btn-theme">QUICK VIEW</a>
                    </div>


                </div>
                <div class="product-card-body">
                    <p class="product-card-category">Category</p>
                    <p class="product-card-title">Item</p>
                    <p class="product-card-price">$15.00</p>
                </div>
            </div>

            <div class="product-card">
                <div class="product-card-img">
                    <img src="~/images/Small.jpg" alt="">
                    <div class="product-card-menu">
                        <a href="#" class="btn-theme">QUICK VIEW</a>
                    </div>


                </div>
                <div class="product-card-body">
                    <p class="product-card-category">Category</p>
                    <p class="product-card-title">Item</p>
                    <p class="product-card-price">$25.00</p>
                </div>
            </div>

            <div class="product-card">
                <div class="product-card-img">
                    <img src="~/images/Small.jpg" alt="">
                    <div class="product-card-menu">
                        <a href="#" class="btn-theme">QUICK VIEW</a>
                    </div>


                </div>
                <div class="product-card-body">
                    <p class="product-card-category">Category</p>
                    <p class="product-card-title">Item</p>
                    <p class="product-card-price">$115.00</p>
                </div>
            </div>

            <div class="product-card">
                <div class="product-card-img">
                    <img src="~/images/Small.jpg" alt="">
                    <div class="product-card-menu">
                        <a href="#" class="btn-theme">QUICK VIEW</a>
                    </div>


                </div>
                <div class="product-card-body">
                    <p class="product-card-category">Category</p>
                    <p class="product-card-title">Item</p>
                    <p class="product-card-price">$35.00</p>
                </div>
            </div>

            <div class="product-card">
                <div class="product-card-img">
                    <img src="~/images/Small.jpg" alt="">
                    <div class="product-card-menu">
                        <a href="#" class="btn-theme">QUICK VIEW</a>
                    </div>


                </div>
                <div class="product-card-body">
                    <p class="product-card-category">Category</p>
                    <p class="product-card-title">Item</p>
                    <p class="product-card-price">$215.00</p>
                </div>
            </div>

            <div class="product-card">
                <div class="product-card-img">
                    <img src="~/images/Small.jpg" alt="">
                    <div class="product-card-menu">
                        <a href="#" class="btn-theme">QUICK VIEW</a>
                    </div>


                </div>
                <div class="product-card-body">
                    <p class="product-card-category">Category</p>
                    <p class="product-card-title">Item</p>
                    <p class="product-card-price">$20.00</p>
                </div>
            </div>
    </div>
</div>
</section>