@{
    ViewData["Title"] = "Bmerketo";
}

<section class="product-sales">
<div class="card">
        <div class="card-img-container">
            <img src="~/Images/Small.jpg" class="card-img-top" alt="Small" />
            <NavLink to="/" class="btn btn-theme w-100 d-xl-none">QUICK VIEW</NavLink>
        </div>
        <div class="card-body">
            <p class="card-category">Furniture</p>
            <h5 class="card-title">Item</h5>
            <p class="card-price">5000</p>
        </div>
</div>



<div class="sales">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <ProductCard />
        <div class="titleSales">
            <p class="sell">UP TO SELL</p>
            <h2 class="sale">50% OFF</h2>
            <h5 class="sale">Get The Best Price</h5>
            <br>
            <h7>Get the best daily offer et accusam et </h7>
            <h6>justo duo dolores et ea rebum. Stet </h6>
            <h6>clita kasd gubergren no sea taki</h6>
            <button class="discover"> Discover More</button>
        </div>
        <ProductCard />
    </div>
</div>

<div class="card">
    <div class="card-img-container">
        <img src="~/Images/Small.jpg" class="card-img-top" alt="Small" />
        <NavLink to="/" class="btn btn-theme w-100 d-xl-none">QUICK VIEW</NavLink>
    </div>
    <div class="card-body">
        <p class="card-category">Furniture</p>
        <h5 class="card-title">Item</h5>
        <p class="card-price">5000</p>
    </div>
</div>

</section>