@model Bmerketo.Models.Forms.RegisterForm;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_CenterScreen.cshtml";
}


<section class="registerform">
    <div class="title">
        <h4 class="headline">Please Register Your new Account </h4>
        <div class="underline"></div>
    </div>

    <partial name="~/Views/Shared/Partials/Forms/_RegisterFormPartial.cshtml" model="@Model" />
</section>


